@import "variables";

.container{
    margin-top:2rem;
}

input{
    margin-top:1rem;
}

#profile_img_container{
    padding:2rem;
    background-color: aquamarine;
    text-align: center;
}
#profile_info_container{
    padding:2rem;
    background-color: antiquewhite;

}

#profile_img{
    max-width:100%;
    max-height:300px;
    //object-fit: cover;
}