@import "variables";

.container{
    margin-top:2rem;
}

.row{
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-bottom: 2rem;

    #availavility{
        display:flex;
        justify-content:space-between;
        flex-wrap:wrap;
    }
}

input{
    margin-top:1rem;
}

.column{
    padding:2rem; 
}

#profile_img_container{

    //background-color: aquamarine;
    text-align: center;
}

#profile_info_container{

    //background-color: antiquewhite;

}

#dates_list_container{
    flex-grow:1;
}

#dates_list li{
    display: flex;
    justify-content:space-between;
    align-items: center;

    i{
        margin-left: 0.25rem;
    }

    i:hover{
        color:#00234a;
    }
}

#profile_img{
    max-width:100%;
    max-height:300px;
    //object-fit: cover;
}

@media (max-width: 576px) { 
    #calendar_container{
        flex-grow:1;
    }
}